// /*====================================
// =            Footer Style            =
// ====================================*/
//

.page-footer {
  background-color: $main-theme-background; 
}

.footer {
  height: 25%;
  background: white;
  color: white;

  flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;

  .links {
    flex: 1 0 100%;
  }

  .icons {
    br {
      display: none;
    }

    margin-bottom: 2em;

    @media screen and (max-width: 600px) {
      margin-top: 6em;
      margin-bottom: 4em;

      br {
        display: block;
      }
    }
    display: inline-block;

    li {
      -moz-transition: all .2s ease-in;
      -o-transition: all .2s ease-in;
      -webkit-transition: all .2s ease-in;
      transition: all .2s ease-in;

      display: inline-block;
      padding: 0.2em;
      margin-right: 2.5em;

      border: 3px solid #A67C52;
      border-radius: 20%;
      text-align: center;
      display: inline-block;

      @media screen and (max-width: 600px) {
        margin-bottom: 2.5em;
      }

      // Deals with the spacing! Mess with this in case more links are added
      &:nth-child(2) {

        @media screen and (max-width: 600px) {
          margin-right: 0;
        }
      }

      &:nth-child(5) {
        margin-right: 0;
      }
      // ----------------------------------------

      &:hover,
      &:active {
        background-color: #F00;

        a {
          color: #fff;
          // border-color: transparent;

          &.icon {
            background-color:#06469F;
          }

          &.icon-search {
            background-color: white;
          }
          &.icon-email {
            background-color: grey;
          }
          &.icon-github {
            background-color: #222;
          }
          &.icon-facebook {
            background-color: #3765A3;
          }
          &.icon-twitter {
            background-color: #5EA9DD;
          }
          &.icon-instagram {
            background-color: #323232;
          }
          &.icon-linkedin {
            background-color: #0274B3;
          }
        }

      }

      a {
        -moz-transition: all .2s ease-in;
        -o-transition: all .2s ease-in;
        -webkit-transition: all .2s ease-in;
        transition: all .2s ease-in;


        text-decoration: none;
        color: #06469F;
        border: 3px solid #F00;
        border-radius: 20%;
        text-align: center;
        display: inline-block;
        width: 45px;
        height: 45px;
        line-height: 50px;

        .fas {
          font-size: 1.6em;
        }

        .fab {
          font-size: 1.6em;
        }
      }
    }
  }
}
