// /*====================================
// =            Header Style            =
// ====================================*/
//
nav {
  background-color: $main-theme-background;
}

.navbar {
  position: fixed;

}
